html {
  font-family: sans-serif;
  font-size: calc(1em + 1vmin + 2vmax);
  line-height: 1.5;
}

body {
  display: flex;
  flex-flow: column;
  margin: auto;
}

article {
  padding: 1em;
  display: flex;
  flex-flow: column;
  margin: auto;
}

[rel=home]:not(:focus) {
  text-decoration-style: dashed;
}

:any-link {
  transition: text-decoration 10ms, color 20ms, background 30ms;
}

:focus {
  outline-width: thick;
}

h1 {
  font: inherit;
}

blockquote {
  margin-block-start: 33vh;
  min-height: 90vh;
  font-size: 2rem;
  margin-inline: 0;
  font-family: monospace;
  order: -1;
}
